<div style="display: flex; justify-content: center; align-items: center;flex-direction: column;
font-family: 'Cormorant Garamond', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Prompt', sans-serif;margin: 30%;">

<div style="display: flex; flex-direction: row; 
justify-content: space-around;">
<ul style="font-size: 14px;">
<li *ngFor="let captionItem of captionList">
<img [src]="captionItem.icon" style="width: 20px; height: 20px;"> {{captionItem.message}}
</li>
</ul>
<ul style="font-size: 14px;">
<li *ngFor="let captionItem of usedCaptionList">
<img [src]="captionItem.icon" style="width: 20px; height: 20px;"> {{captionItem.message}}
</li>
</ul>
</div>

<div *ngIf="title">Caption: {{title}}</div>
<img [src]="imgSrc" style="width: 100px;">
<div style="justify-content: space-around;">
<button [disabled]="!title" class="btn btn-success" (click)="handleClickButton()">
Next Caption
</button>
<button [disabled]="!title" class="btn btn-primary" (click)="handleClickResetButton()">
  reset
  </button>
</div>
</div>
 
